body{
    display: flex;
    flex-direction: row;
}

body div {
    width: 33%;
    background-color: rgb(219, 219, 219);
}

body div:first-of-type {
    background-color: rgb(201, 201, 201);
}

body div:last-of-type {
    background-color: rgb(201, 201, 201);
}

form {
    margin-left: 10px;
}

.hidden {
    display: none;
    visibility: hidden;
}

.songListDiv {
    width: 100%;
}

.songListDiv button {
    display: block;
    width: 50%;
    aspect-ratio: 10 / 2;
}