* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: none;
    text-shadow: none;
    border: none;
}


body {
    z-index: -2;
    background-image: url("https://i.imgur.com/g4c18wm.jpeg");
    background-size: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
    position: relative;
}

main {
    width: 70vw;
    background-color: rgb(42, 41, 41);
    background: linear-gradient(rgb(42, 41, 41), rgb(42, 41, 41)) 50% 50%/calc(100% - 10px) calc(100% - 10px) no-repeat,
            linear-gradient(90deg, #0081ff 0%, rgba(238,94,217,1) 50%, rgba(255,126,0,1) 100%);

    z-index: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: rgba(255, 255, 255, 0);
    -webkit-text-stroke: 1px rgb(195, 195, 195);
    font-size: 300%;
    font-weight: lighter;
    margin-top: 5px;
}

h2 {
    color: rgba(255, 255, 255, 0.533);
    font-size: 160%;
    margin: 5px 0 10px 0;
    font-weight: lighter;
    text-align: center;
}

h3 {
    color: rgba(255, 255, 255, 0.533);
    font-size: 150%;
    margin: 2px 0 0 0;
    font-weight: lighter;
    text-align: center;
}

header {
    background-image: url("../images/concrete-texture.jpg");
    background-size: 200px;
    box-shadow: 0 0 30px 40px rgba(0, 0, 0, 0.289);
    width: 100vw;
    height: calc(30vh + 0px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 2;
    margin-bottom: 20px;
    
    & div {
        background-color: rgba(0, 0, 0, 0.578);
        width: 100%;
        height: 70%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

header div img{
    height: 80%;
    object-fit: contain;

    &:first-of-type {
        width: 10%;
        color: aliceblue;
    }

    &:last-of-type {
        height: 70%;
        width: 50%;
        color: aliceblue;
        filter: invert(1);
       
    }
}

header div:first-of-type {
    height: 5px;
    width: 100%;
}

nav {
    background-color: rgba(0, 0, 0, 0.653);
    border-top: rgba(0, 0, 0, 0.807) 5px solid;

    width: 100vw;
    height: calc(30% - 10px);
    
    display: flex;
    flex-direction: row;
    width: 100%;


    & button {
        color: white;
        background-color: rgba(0, 0, 0, 0.137);
        display: block;
    
    
        width: 20%;
        height: 100%;
        text-align: center;
        font-size: 120%;
        font-weight: bold;
    
        &:hover {
            cursor: pointer;
            background-color: rgba(61, 61, 61, 0.311);
        }
    
        &:active {
            background-color: rgba(0, 0, 0, 0.292);
        }
    }
}


section {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.artist-card {
    width: 40%;
    padding: 10px;
    /*aspect-ratio: 5 / 6;*/
    background-color: rgb(35, 35, 35);
    margin: 20px;
    overflow: hidden;
    border-radius: 10px;

    box-shadow: inset 0 0 20px 0 black;

    display: flex;
    flex-direction: column;
    align-items: center;

    transition: 150ms all ease-out;

    &:hover {
        box-shadow: inset 0 0 0px 0 black;
        box-shadow: 0 0 10px 0 black;
        background-color: rgb(50, 50, 50);

        & h3 {
            background: linear-gradient(90deg, rgb(76, 177, 255), rgba(201,56,174,1), rgba(255,192,0,1));
            filter: saturate(1.5);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    & h3 {
        display: block;
        width: auto;
        text-align: center;
        margin-bottom: 2%;
    }

    & h4 {
        color: rgb(196, 196, 196);
        margin-bottom: 2%;
    }

    & p {
        display: block;
        height: 15%;
        width: 80%;
        font-size: 100%;
        text-align: center;
        margin: 2%;
    }
}

.artist-card button {
    box-shadow: none;
    filter: grayscale(1);

    width: 50%;
    aspect-ratio: 8 / 3;
    font-weight: bolder;
    border-radius: 20px;
    border: rgb(36, 36, 36) solid 5px;
    font-size: 150%;

    transition: 250ms all;
    cursor:pointer;

    &:hover {
        filter: grayscale(0);
        scale: 1.05;
        transition: 150ms scale;
    }

    &:active {
        filter: grayscale(0);
        scale: 0.95;
        transition: 100ms;
    }
}

.winner {
    width: 50%;
}

iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 10px;
}

.current-page {
    border-bottom: solid rgba(255, 255, 255, 0.49) 4px;
}


*::-webkit-scrollbar {
    height: 10px;
    width: 12px;
    background-color: #1a1a1a;
}

*::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #1a1a1a;
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #3e3e3e;
}

.rainbow-bg{
    background: linear-gradient(90deg, rgba(56,137,201,1) 0%, rgba(201,56,174,1) 50%, rgba(255,192,0,1) 100%);
}

.current-comp {
    background: linear-gradient(90deg, rgb(76, 177, 255), rgba(201,56,174,1), rgba(255,192,0,1));
    filter: saturate(1.5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


#bg-glow {
    width: 100vw;
    top: 0;
    left: 0;
    height: 100%;
    z-index: -1;
    position: absolute;
    background: rgba(56, 138, 201, 0.314);
    background: linear-gradient(90deg, rgba(29, 74, 108, 0.5) 0%, rgba(108, 29, 94, 0.25) 50%, rgba(115, 86, 0, 0.5) 100%);
}

#cookies-window {
    z-index: 100;
    width: 40vw;
    aspect-ratio: 10 / 7;
    background-color: rgb(28, 28, 28);
    position: absolute;
    top: 20vh;
    left: auto;
    right: auto;
    border-radius: 30px;
    border: rgb(77, 77, 77) solid 10px;
    color: white;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    

    & h2 {
        width: 100%;
        display: block;
        font-size: 2.5vw;
    }

    & button {
        margin: 5px;
        padding: 5px;
        border-radius: 5px;
        transition: 100ms;
        font-size: 2vw;
        width: 15vw;

        &:hover {
            scale: 1.05;
        }

        &:active {
            scale: 0.95;
        }


        &:last-of-type {
            background-color: rgb(73, 73, 73);
        }
    
    }

}

.rainbow-text {
    background: linear-gradient(90deg, rgb(76, 177, 255), rgba(201,56,174,1), rgba(255,192,0,1));
    filter: saturate(1.5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#votes-left {
    margin-top: 40px;
}

footer{
    margin-top: 50px;
    height: 150px;
    width: 100vw;
    background-color: rgb(51, 51, 51);
    z-index: 2;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow: auto;

    & div {
        height: 100%;
        display: flex;
        flex-direction: row;
    }
}

#links{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
    width: 70%;

    & a {
        height: 25%;
        margin-right: 5%;
    }

    & a img {
        height: 100%;
        width: auto;
        filter: brightness(0) invert(1);
    }
    
}

#kontakt{
    margin-left: 5%;
    height: 100%;
    display: flex;
    flex-direction: column;

    & h2 {
        font-size: 35px;
        text-align: left;
        margin-top: 10%;
    }

    & p {
        font-size: 18px;
        margin-top: 1%;
    }
}
